{
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": 0
  }
}
