.title {
  font: 24px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.paragraph {
  margin: 0 20px;
  font: 16px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.figure {
  text-align: center;
  margin: 20px 0;
}
