:global .page {
    padding: 20px;
}

.title {
    composes: title from "test/fixtures/in/composes.mixins.css";
    color: green;
}

.article {
    font-size: 16px;
}

.figure {
    composes: figure from "test/fixtures/in/composes.mixins.css";
    display: flex;
}
