._composes_mixins_title {
    color: black;
    font-size: 40px;
}

._composes_mixins_title:hover {
    color: red;
}

._composes_mixins_figure {
    text-align: center;
}

._composes_mixins_title:focus, ._composes_mixins_figure:focus {
    outline: none;
    border: 1px solid red;
}

._composes_a_another-mixin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    width: 200px;
}

._composes_a_hello {
    foo: bar;
}

.page {
    padding: 20px;
}

._composes_title {
    color: green;
}

._composes_article {
    font-size: 16px;
}

._composes_figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
